# Some Private Document Folders
doc/
src/vetmaincontroltest-12-23/
src/test/

# Some huge media files
data/video/

# Ubuntu Trash folder
.Trash-1000/

# Some Private pre-trained classifier xml files.
data/haar-cascades/
*.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
launch
