# Some Private Document Folders
doc/
src/vetmaincontroltest-12-23/
src/haar-demo/

# Some huge media files
video/1.mp4
video/HPIM0026.mov
video/*.mov

# Ubuntu Trash folder
.Trash-1000/

# Some Private pre-trained classifier xml files.
src/master/haar-cascades/*.xml
src/master/lbp-boost/*.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
launch
