# Some Private Document Folders
doc/

# Others irrelative files
others/

# backup file
*.bak

# Some huge media files
data/video/
*.mov
*.mp4

# Ubuntu Trash folder
.Trash-1000/

# Mac Folder Info
.DS_Store
Thumbs.db

# Some Private pre-trained classifier xml files.
data/haar-cascades/
*.xml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# debug info files
*.dSYM

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
launch
RectGrabber